.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 20;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  padding: 0 19px;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: visibility 0s 0.5s, opacity 0.5s linear;
}

.modal_opened {
  visibility: visible;
  opacity: 1;
  pointer-events: all;
  transition: visibility 0s, opacity 0.5s linear;
}

.modal__container {
  background-color: white;
  padding: 36px;
  margin: 195px auto auto;
  border-radius: 10px;
  min-width: 430px;
  max-height: 330px;
  position: relative;
  display: flex;
  flex-direction: column;
}

.modal__container-pic {
  padding: 0;
  margin: auto;
  border-radius: 10px;
  min-width: 320px;
  max-height: 540px;
  position: relative;
  display: flex;
  flex-direction: column;
}

.modal__close {
  background-image: url(../images/Close\ Icon.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-color: transparent;
  border: none;
  width: 40px;
  height: 40px;
  position: absolute;
  top: -45px;
  right: -45px;
  cursor: pointer;
}

.modal__close:hover {
  opacity: 0.6;
}

.modal__heading {
  color: #000;
  font-family: Inter, Arial, sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 900;
  margin: 0;
  margin-bottom: 35px;
}

.modal__form {
  display: flex;
  flex-direction: column;
  max-width: 430px;
  color: #000;
  font-family: Inter, Arial, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 30px;
}

.modal__input-text {
  border: none;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
  margin-bottom: 30px;
  min-height: 17px;
  width: 100%;
  position: relative;
  font-family: Inter, Arial, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.modal__button {
  width: 100%;
  min-height: 46px;
  background-color: #000;
  color: #fff;
  border-radius: 2px;
  border: none;
  margin-top: 15px;
  padding: 0;
  font-family: Inter, Arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: center;
  cursor: pointer;
}

.modal__button:hover {
  opacity: 0.6;
}

.modal__button_disabled {
  background-color: #fff;
  color: #000;
  opacity: 0.2;
}

.modal__button_disabled:hover {
  opacity: 0.2;
}

.modal__image {
  max-width: 75vw;
  max-height: 540px;
}

.modal__pic-title {
  color: #fff;
  font-family: Inter, Arial, sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: left;
}

@media screen and (max-width: 880px) {
  .modal__container {
    min-width: 0;
    max-width: 282px;
    width: 100%;
    padding: 25px;
    margin: auto;
  }

  .modal__container-pic {
    min-width: 240px;
  }

  .modal__close {
    width: 26px;
    height: 26px;
    top: -39px;
    right: 0;
  }

  .modal__heading {
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0em;
    padding: 0;
    margin-bottom: 45px;
  }

  .modal__form {
    max-width: 238px;
  }
  .modal__input-text {
    margin-bottom: 30px;
  }

  .modal__button {
    max-width: 238px;
  }
}

.modal__input_type_error {
  border: none;
  border-bottom: 1px solid #ff0000;
  margin: 0;
  min-height: 17px;
}

.modal__error_visible {
  color: #ff0000;
}
